* {
    box-sizing: border-box;
  }
  
  html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  

.main_div {
    display: flex;
    align-items: center;
    margin-top: 10%;
    /* height: 100vh; */
    /* background-color: #f0f0f0; */
}

.the_div {
    width: 100%;
    padding: 2rem 2rem 10rem 2rem;
    margin: auto;
    background-color: #ffffff;
    /* margin-bottom: 3rem; */
    /* box-shadow: -8px -5px 5px rgb(51, 43, 43); */
}

.description, .form-label {
    font-size: 90%;
}


.iesa_logo {
    width: 20%;
    height: 20%;
}

@media screen and (min-width: 576px) {
    .the_div {
        width: 70%;
    }

    .main_div {
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px) {   
    .the_div {
        width: 50%;
    }

}

@media screen and (min-width: 992px) {
    .the_div {
        width: 40%;
    }
}

@media screen and (min-width: 1024px) {
    .the_div {
        width: 30%;
    }

    .main_div {
        margin-top: 9%;
    }
}