{% extends 'pay/base.html' %}{% load static %}
{% block content %}
<div class="main_div ">
    <main class="the_div shadow p-3 mb-5 bg-body rounded">
        <div class="img_div text-center mb-5">
            <img src="{% static 'pay/img/iesa_logo.jpg' %}" alt="iesa logo"  class="iesa_logo">
            <h2 class="my-2">IESA DUES</h2>
            <div class="form-text">BY IESA UI</div>
            <div class="description p-1">
                Pay your Industrial Engineering Student Association dues from the
                comfort of your home.
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            {% if exist == "absent" %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <div>User does not exist!</div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <div class="mb-4">
                <label for="matric" class="form-label mb-2">Matric Number</label>
                <input type="text" class="form-control form-control-sm" 
                id="matric" name="matric_no" value="{{user.matric_no}}" readonly>
            </div>
            <div class="mb-4">
                <label for="name" class="form-label mb-2">Name</label>
                <input type="text" class="form-control form-control-sm" 
                id="name" name="name" value="{{user.name}}" readonly>
            </div>
            <div class="mb-4">
                <label for="email" class="form-label mb-2">Email</label>
                <input type="email" class="form-control form-control-sm" 
                id="email" name="email" value="{{user.email}}" readonly>
            </div>
            <div class="mb-4">
                <label for="amount" class="form-label mb-2">Amount</label>
                <input type="text" class="form-control form-control-sm" 
                id="amount" name="amount" value="{{user.amount}}" readonly>
            </div>
            <div class="d-grid gap-2 my-4">
                <button type="submit"  class="btn btn-primary">PAY NOW</button>
            </div>
            <div class="d-grid gap-2 my-4">
                <a href="{% url 'index' %}" class="btn btn-primary-outline nav-link">
                    <i class="bi bi-arrow-90deg-left"></i> Go Back
                </a>
            </div>
        </form>
    </main>
</div>

{% endblock content %}
