{% extends 'pay/base.html' %}{% load static %}
{% block content %}
<div class="main_div ">
    <main class="the_div shadow p-3 mb-5 bg-body rounded">
        <div class="img_div text-center mb-5">
            <img src="{% static 'pay/img/iesa_logo.jpg' %}" alt="iesa logo"  class="iesa_logo">
            <h2 class="my-2">IESA DUES</h2>
            <div class="form-text">BY IESA UI</div>
            <div class="description p-1">
                Pay your Industrial Engineering Student Association dues from the
                comfort of your home.
            </div>
        </div>
        <div>
            <div class="text-center">
                <h3>{{header}}</h3>
                <div class="description p-1">
                    {{text}}
                </div>
            </div>
            <div class="d-grid gap-2 my-4">
                <a href="{% url 'index' %}" class="btn btn-primary-outline nav-link">
                    <i class="bi bi-arrow-90deg-left"></i> Go back to Homepage.
                </a>
            </div>
        </div>
        
    </main>
</div>

{% endblock content %}
